/*GOOGLE FONT*/
@import url("//fonts.googleapis.com/css?family=Open+Sans:400,300,300italic,400italic,600,600italic,700,700italic,800,800italic");

/*RESET STYLES*/
* { box-sizing: border-box; -webkit-tap-highlight-color: rgba(0,0,0,0); }

html, body,  ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, pre, form, p, blockquote, fieldset, input ,table tr,td {
	margin : 0;
	padding : 0;
}
html{ -webkit-text-size-adjust: none;height: 100%;padding: 0;margin: 0;	}
body{ 
	background: #fff;
	font-family:  "Open Sans", sans-serif;
	font-weight: 400;
	-moz-font-smoothing: antialiased;
	-webkit-font-smoothing: antialiased;
	font-smoothing: antialiased;
	font-size : 16px;
	line-height: 20px;
	color : #3d3d3d;
	padding: 0;
	margin: 0;
	height: 100%;
}
a	            { text-decoration:none;color: #fff }
a:hover	     { color: #FFFFFF}
input:focus   { outline: 0 none }
ul  { list-style : none; }
fieldset, img { border : none; }
input, select, textarea, button ,a,input:focus,a:focus{ outline:none}

.fleft              { float: left }
.fright            { float: right }
.clear              { clear: both }
.clrheight       { clear: both;height: 0 }
.relative         { position: relative }
.display-blk    { display: block }
.talign-center{ text-align: center}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: none;
}

/*BUTTON SHAPE*/
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
	-webkit-appearance: none;
	cursor: pointer;
}
th{
	background-color: rgb(35, 184, 220);
	color:#fff;
}

/*SITE COMMON*/
header,.content-width{width: 100%;max-width: 660px;margin: auto}
body{
	background-image: radial-gradient(center center, circle cover, #679966, #497B48);
	background-image: -o-radial-gradient(center center, circle cover, #679966, #497B48);
	background-image: -ms-radial-gradient(center center, circle cover, #679966, #497B48);
	background-image: -moz-radial-gradient(center center, circle cover, #679966, #497B48);
	background-image: -webkit-radial-gradient(center center, circle cover, #679966, #497B48);
}
#main-wrapper{
	position: relative;min-height: 100%;
	
}


/*FOOTER*/
footer{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
}
footer p{clear: both;font-size: 19px;text-align: center;font-weight: 600;}
footer p a{position: relative}
footer p a:after{
	border-bottom: 2px solid #fff;
	position: absolute;
	left: 0;
	bottom: -3px;
	width: 0;
	content: "";
	transition: width 0.5s linear 0s;
	-webkit-transition: width 0.5s linear 0s;
	-moz-transition: width 0.5s linear 0s;
}
footer p a:hover{color: #fff}
footer p a:hover:after{width: 245px;}
.social-links{margin-top: 35px;text-align: center;margin-bottom: 30px}
.social-links li {display: inline-block;margin-left: 20px}
.social-links li:first-child{margin-left: 0}
.social-links li a{
	background: url(../images/sprite-icons.png) no-repeat left top;
	display: block;
    font-size: 0;
    height: 36px;
    width: 36px;
}
.social-links li a:hover{opacity: 0.8}
.social-links li a.fb-icon{background-position: 0 -95px}
.social-links li a.twitt-icon{background-position: 0 -48px}
.social-links li a.linked-icon{background-position: 0 0}

/*CONTENT SECTION*/
.landing-wrapper{max-width: 660px}
.landing{
	position: relative;
}
.landing-bg{
	width: 100%;
	height: 100%;
	text-align: center
}
.landing-bg p{
	  border-top: 1px solid #fff;
    color: #fff;
    font-size: 16px;
    font-weight: 600;
    line-height: 30px;
    margin-top: 5px;
    padding-top: 35px;
	padding-bottom: 60px
}
.landing-bg img{	
	height: auto;
    max-width: 100%;
}
.hidden-txt{display: none}

.browser-support{background: #50824F;}
.browser-support .content-area{
	height: 100%;
	text-align: center;
}
.browser-support h1{
	font-size: 24px;
	background: url(../images/logo.png) no-repeat center top;
	padding-top: 200px;
	margin-bottom: 20px;
	line-height: 45px;
	color: #fff
}
.browser-support p{font-size: 20px;line-height: 25px;color: #fff}

/*RESPONSIVE*/
@media screen and (max-width: 640px){
	.landing-bg p{padding-bottom: 30px}
}
@media screen and (max-width: 950px) { 
	.content-width{padding-left: 15px;padding-right: 15px}
}
@media screen and (max-height: 600px) { 
	footer{position: relative;}
}
@media (-webkit-min-device-pixel-ratio: 1.25), (-webkit-min-device-pixel-ratio: 1.3), (-webkit-min-device-pixel-ratio: 1.5), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 120dpi), (min-resolution: 124.8dpi), (min-resolution: 144dpi), (min-resolution: 192dpi) { 
	.social-links li a.fb-icon{background-image:  url(../images/2x/fb@2x.png);background-position: 0 0;background-size: 36px 36px}
	.social-links li a.twitt-icon{background-image:  url(../images/2x/twt@2x.png);background-position:  0 0;background-size: 36px 36px}
	.social-links li a.linked-icon{background-image:  url(../images/2x/linked@2x.png);background-position: 0 0;background-size: 36px 36px}
}
